body
{
    margin: 0;
    padding: 0;
    background-color: rgb(150,150,150);
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

div
{
    position: fixed;
    bottom: 50px;
    width: 500px;
    display: flex;
    justify-content: center;
}

div>button
{
    margin:0 50px;
    cursor: pointer;
}


img
{
    width: 500px;
    height: 700px;
    transition-duration: .3s;
}